<div class="container mt-2">
  <mat-form-field>
    <mat-label>Unidad</mat-label>
    <mat-select [(ngModel)]="this.firebaseService.itemSelected.unidad">
      <mat-option *ngFor="let unidad of unidades" [value]="unidad.value">
        {{unidad.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="mt-3">
    <input type="number" matNativeControl placeholder="Cantidad" [(ngModel)]="this.firebaseService.itemSelected.cantidad">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Fecha Prestamo</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="this.firebaseService.itemSelected.fechaPrestamo">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="onSaveBooking()">
    <mat-icon>save</mat-icon>Save
  </button>
</div>
