<mat-form-field class="mt-3">
  <input (keyup)="applyFilter($event.target.value)" matNativeControl placeholder="Filtro">
</mat-form-field>

<div class="mat-elevation-z8 mt-3">
  <table mat-table matSort [dataSource]="dataSource">

    <!-- nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre objeto </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreItem}} </td>
    </ng-container>

    <!-- estado Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

    <!-- cantidad Column -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>

    <!-- unidad Column -->
    <ng-container matColumnDef="unidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidad </th>
      <td mat-cell *matCellDef="let element"> {{element.unidad}} </td>
    </ng-container>

    <!-- condicion Column -->
    <ng-container matColumnDef="condicion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Condicion </th>
      <td mat-cell *matCellDef="let element"> {{element.condicion}} </td>
    </ng-container>

    <!-- agrupacion Column -->
    <ng-container matColumnDef="agrupacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Agrupacion </th>
      <td mat-cell *matCellDef="let element"> {{element.agrupacion}} </td>
    </ng-container>

    <!-- fechaPrestamo Column -->
    <ng-container matColumnDef="fechaPrestamo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha del prestamo </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaPrestamo | firestoreDate}} </td>
    </ng-container>

    <!-- fechaEntrega Column -->
    <ng-container matColumnDef="fechaEntrega">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de la entrega </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaEntrega | firestoreDate}} </td>
    </ng-container>

    <!-- correo Column -->
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo que lo presto </th>
      <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>

    <!-- notas Column -->
    <ng-container matColumnDef="notas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> notas </th>
      <td mat-cell *matCellDef="let element"> {{element.notas}} </td>
    </ng-container>

    <!-- notas Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div  class="row ml-1">
          <button class="col" mat-flat-button (click)="onUndo(element)">
            devolver
            <mat-icon>undo</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
</div>