<mat-toolbar color="primary">
  <div class="container">
  <div class="container-image">
    <img src="assets/recurso-1.svg">
  </div>
  <div class="container-title">
    <span class="grimed">GR1MED</span>
  </div>
  <div class="container-fluid data-menu">
    <div class="row" *ngIf="user$ | async as user else login">
      <div  *ngIf="user">
        <span class="nav-link">{{user?.email}}</span>
      </div>
      <div  *ngIf="user">
        <span class="nav-link" (click)="onLogout()">Log out</span>
      </div>
    </div>
    <div class="container-button">
      <button *ngIf="user$ | async as user" mat-stroked-button [matMenuTriggerFor]="menu" class="example-icon">
        Opciones
      </button>
    </div>  
  </div>
</div>
</mat-toolbar>

<mat-menu  #menu="matMenu">
  <button mat-menu-item (click)="onRedirect('home')">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item (click)="onRedirect('itemstable')">
    <mat-icon>list</mat-icon>
    <span>Intendecia</span>
  </button>
  <button mat-menu-item (click)="onRedirect('itemsreserved')">
    <mat-icon>event_note</mat-icon>
    <span>Reservado</span>
  </button>
  <button *ngIf="isAdmin$ | async" mat-menu-item (click)="onRedirect('itemsreservedfull')">
    <mat-icon>event_note</mat-icon>
    <span>Todo lo reservado</span>
  </button>
  <button *ngIf="isAdmin$ | async" mat-menu-item (click)="onRedirect('registerdata')">
    <mat-icon>event_note</mat-icon>
    <span>Agregar Item</span>
  </button>
</mat-menu>

<ng-template #login>
  <div class="nav-item" *ngIf="!user">
    <span class="nav-link" routerLink="/login">Login</span>
  </div>
</ng-template>