<mat-toolbar color="primary">
  <button *ngIf="user$ | async as user" mat-icon-button [matMenuTriggerFor]="menu" class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>INTENDECIA GR1MED</span>
  <span class="example-spacer"></span>
  <div class="container-fluid">
    <div class="row" *ngIf="user$ | async as user else login">
      <div class="col-sm-1 ml-auto" *ngIf="user">
        <span class="nav-link">{{user?.email}}</span>
      </div>
      <div class="col-sm-1 ml-5" *ngIf="user">
        <span class="nav-link" (click)="onLogout()">Log out</span>
      </div>
    </div>
  </div>
  <span >Logo</span>
</mat-toolbar>

<mat-menu  #menu="matMenu">
  <button mat-menu-item (click)="onRedirect('home')">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item (click)="onRedirect('itemstable')">
    <mat-icon>list</mat-icon>
    <span>Intendecia</span>
  </button>
  <button mat-menu-item (click)="onRedirect('itemsreserved')">
    <mat-icon>event_note</mat-icon>
    <span>Reservado</span>
  </button>
  <button *ngIf="isAdmin$ | async" mat-menu-item (click)="onRedirect('itemsreservedfull')">
    <mat-icon>event_note</mat-icon>
    <span>Todo lo reservado</span>
  </button>
  <button *ngIf="isAdmin$ | async" mat-menu-item (click)="onRedirect('registerdata')">
    <mat-icon>event_note</mat-icon>
    <span>Agregar Item</span>
  </button>
</mat-menu>

<ng-template #login>
  <div class="nav-item" *ngIf="!user">
    <span class="nav-link" routerLink="/login">Login</span>
  </div>
</ng-template>