<div class="home">
    <div class="home__intro">
        <div class="home__solicitud">
            <div class="home__title">
                <h1>
                    Solicitud de Intendecia
                </h1>
                <h1>
                    Grupo Scout Primero
                </h1>
            </div>
            <div class="home__bienvenida">
                <span class="home__bienvenidatexto">
                    Bienvenidos a la página para solicitar el préstamo <br> de intendecia del Grupo Scout Primero.
                </span>
                <div class="home__ingreso">
                    <span class="home__ingresotexto">
                        <p>Para ingresar es necesario tener <br> un usuario registrado</p>       
                    </span>
                </div>

            </div>
        </div>
        <div class="home__image">
            <img src="assets/recurso-2.svg">
        </div>
    </div>
    <div class="home__pasos">
        <div class="home__ingreso home__ingreso--pasos">
            <span class="home__ingresotexto">
                Pasos
            </span>
        </div>
        <div class="home__pasostexto">
            <span>
                Ten en cuenta estos pasos para realizar el prestamo de la <br> intendecia deseada.
            </span>
        </div>

    </div>
</div>
